.main{
    text-align: center;
    top: 100px;
    position: relative;
     /* border: 2px solid black;
    height: 650px; */
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
    display: inline-block;
    
    width: 350px;
    /* background-color: antiquewhite;
    border: 2px solid black;
    margin: 5px; */
    position: relative;
    text-align: center;
}
img{
    width:100%;
    margin: 0;
    padding: 0;
}
p{
    background-color: black;
    color: white;
    width: 120px;
    text-align: center;
    height: 20px;
    padding: 15px;
    position: absolute;
    justify-content: center;
    top: -17px;
    left: 0px;
}